  <div style="margin-left: auto; margin-right: auto; width: 1024px;">
  <h2>Facebook Political Ad Collector: Log in</h2>

  <p>Friends -- we've recently made some changes to the backend database for the ad collector. These changes will let us make it easier for us to build new feature that will help you find stories in the datbase. </p>

  <p>The only possible hiccup is that <b>some of your user accounts may need to be updated</b>. Please email us at <a href="mailto:adcollector@propublica.org">adcollector@propublica.org</a> if your log-in does not work. I'll fix it <b>right away</b></p>

  <p> - Jeremy and the rest of the Political Ad Collector team  </p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, {checked: true} %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
